.env
venv/
tmp/
profile.out
whatsapp/__pycache__/
shared/__pycache__/
crud/__pycache__/
shared/models/__pycache__/
shared/apis/__pycache__/
whatsapp/apis/__pycache__/
instagram/apis/__pycache__/
media_gen/apis/__pycache__/
generated_image.png